body {
  color: #222;
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 16pt;
  line-height: 1.4em;
  margin: 0 !important;
}

.main-content {
  margin-bottom: 50px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

a {
  color: #444e5c;
  text-decoration: none;
  border-bottom: 1px solid #3498db;
}

.post-name a, #header h1 a{
  border-bottom: none;
  color:#3498db;
  font-weight: 400;
  font-size: 22px;
}

.post-date-index {
  float: right;
  width: 130px;
  text-align: right;
  font-size: 18px;
}

a:hover, a:visited:hover { border-bottom: none; }
a.image { border-bottom: 0; }

h1, h2, h3, h4 {
  color: #3498db;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 0.3em;
}

.clear { clear: both; }


#footer {
  margin: 6em 4em 3em 4em;
  font-size: 70%;
  text-align: right;
}


/** Posts list page **/
h2.year {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #444e5c;
}

ul li {
  list-style: none outside;
}

.post ul li {
  list-style: circle inside;
}

.posts {
  text-align: left;
}

.post {
  padding-top: 15px;
}

.post-date {
  font-size: 16px;
}

code {
  background-color: #F2F2F2;
  font-size: 80%;
}

pre {
  overflow: hidden;
  background-color: #F2F2F2;
  padding: 10px;
  line-height: 1.0em;
}

pre code {
  overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  width: 99%;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.language-bash pre code {
  padding: 10px;
}

.gist {
  font-size: 12px;
}

small, .aside {
  font-size: 70%;
}

table {
padding: 0; }
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
padding: 0; }
table tr:nth-child(2n) {
background-color: #f8f8f8; }
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
padding: 6px 13px; }
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
padding: 6px 13px; }
table tr th :first-child, table tr td :first-child {
margin-top: 0; }
table tr th :last-child, table tr td :last-child {
margin-bottom: 0; }

ul {
  padding-inline-start: 0px;
}

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.post .review img {
  display: inline;
  margin: 0;
  width: 35%;
  float: left;
  padding: 5px 25px 25px 0px;
}

.post-title {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 0px;
}

.header ul {
  list-style-type: none;
  margin:0;
  padding:0;
  margin-top: 20px;
}

.header ul li {
  display: inline;
  margin-left: 10px;
  float: right;
}

.header ul li a {
  float: right;
  font-weight: 600;
  border-bottom: 2px solid #3498db;
  text-decoration: none;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.site-title {
  color: #444e5c;
}

.site-title a {
  text-decoration: none;
}

.black {
  color: #444e5c;
}

.links {
  text-align: center;
}

blockquote {
  border-right: 5px solid #dee3e2;
  padding-right: 5px;
}

input[type='checkbox'] {
  display: none;
}

.wrap-collabsible {
  margin: 1.2rem 0;
}

.lbl-toggle {
  display: block;
  text-align: left;
  padding: 1rem;
  color: #DDD;
  background: #0069ff;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #FFF;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 3000px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  border: 1px solid rgba(0, 105, 255, .45);
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem .5rem 2rem .5rem;
}

.collapsible-content p {
  margin-bottom: 0;
}

