---
layout: default
title: Buscar
permalink: /buscar/
---

{% assign not_index_pages = "feed-xml,css-main-css,archive,log,reviews,buscar" | split: "," %}

<div style="margin-top: 30px; width: 100%; text-align: center;">
  <input type="text" id="search-box" style="width:100%; height: 30px; font-size: 28px;" name="query">
  <button id="trigger-search" style="padding: 10px 30px; margin-top: 10px; font-size: 30px;">Buscar</button>

  <div id="search-results" style="text-align: left;"></div>

  <p><a href="https://lunrjs.com/guides/searching.html">Información para refinar búsquedas</a></p>
</div>

<script>
  window.store = {
    {% for post in site.posts %}
    "{{ post.url | slugify }}": {
      "title": "{{ post.title | xml_escape }}",
      "author": "{{ post.author | xml_escape }}",
      "category": "{{ post.category | xml_escape }}",
      "content": {{ post.content | strip_html | strip_newlines | jsonify }},
      "url": "{{ post.url | xml_escape }}"
    }{% unless forloop.last %},{% endunless %}{% endfor %},{% for page in site.pages %}
      {% assign slug = page.url | slugify %}
      {% unless not_index_pages contains slug || page.title == "I'm Miguel" %}
    "{{ slug }}": {
      "title": "{{ page.title | xml_escape }}",
      "author": "{{ page.author | xml_escape }}",
      "category": "{{ page.category | xml_escape }}",
      "content": {{ page.content | strip_html | strip_newlines | jsonify }},
      "url": "{{ page.url | xml_escape }}"
    }{% unless forloop.last %},{% endunless %}{% endunless %}
    {% endfor %}
  };
</script>
<script>
  (function() {
    var idx;

    function indexPosts() {
      idx = lunr(function () {
        this.field('id');
        this.field('title', { boost: 10 });
        this.field('author');
        this.field('category');
        this.field('content');


        for (var key in window.store) {
          this.add({
            'id': key,
            'title': window.store[key].title,
            'author': window.store[key].author,
            'category': window.store[key].category,
            'content': window.store[key].content
          });
        }
      });
    }

    function displaySearchResults(results, store) {
      var searchResults = document.getElementById('search-results');

      if (results.length) {
        var appendString = '';

        for (var i = 0; i < results.length; i++) {
          var item = store[results[i].ref];
          appendString += '<p><a href="' + item.url + '"><h3>' + item.title + '</h3></a></p>';
          appendString += '<p>' + item.content.substring(0, 150) + '...</p>';
        }

        searchResults.innerHTML = appendString;
      } else {
        searchResults.innerHTML = 'No hay resultados</li>';
      }
    }

    indexPosts();

    document.getElementById('trigger-search').onclick = function() {
      var searchTerm = document.getElementById('search-box').value;

      if (searchTerm) {
        var results = idx.search('*' + searchTerm + '*');
        displaySearchResults(results, window.store);
      }
    }
  })();
</script>
