<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>{{ page.title }}</title>
  <meta name="author" content="Miguel Beltrán Sanz">

  <link rel="stylesheet" href="/css/syntax.css" type="text/css">
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/log.css" type="text/css">
  <link rel="stylesheet" href="/css/bookshelf.css" type="text/css">
  <link rel="stylesheet" href="/css/flexboxgrid.min.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <script type="text/javascript" src="http://use.typekit.com/qhr5xpd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% feed_meta %}
</head>
<body>
  <div class="row header">
    <div class="col-md-2"></div>
    <div class="col-xs-6 col-md-4">
      <a href="/"><h1 class="site-title">I'm Miguel</h1></a>
    </div>
    <div class="col-xs-6 col-md-4 header-menu">
      <ul>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/log.html">Log</a></li>
        <li><a href="/bookshelf">Libros</a></li>
        <li><a href="/">Archivo</a></li>
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      {{ content }}
    <div class="col-md-2"></div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90732311-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
